# Virtual environment
venv_cryptography/
.env
venv/

# Sample data files
analysis/data/sample_text/*.txt
analysis/data/smaller_sample_text/*.txt
analysis/data/medium_sample_text/*.txt
data/sample_text/*.txt

# Python cache files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*.so
*$py.class

# Django files
*.log
*.pot
db.sqlite3
db.sqlite3-journal
local_settings.py

# Media files - ignore contents but keep structure
media/*
!media/.gitkeep
!media/plots/
!media/profile_pics/
media/plots/*
!media/plots/.gitkeep
media/profile_pics/*
!media/profile_pics/.gitkeep

# Static files - preserve structure, ignore content
static/*
!static/admin/
!static/blog/
static/blog/images/*
!static/blog/css/
!static/blog/js/

# Collected static files
staticfiles/

# IDE specific files
.vscode/

# Local development settings
cryptography_web_app/settings.py